<!--<spinner [backgroundColor]="'#ff0000'"></spinner>-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="navbar-brand">EsbConsole</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="this.router.url.startsWith('/dashboard')">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="this.router.url.startsWith('/audit')" routerLink="/audit">Audit avancé</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="this.router.url.startsWith('/jms')" routerLink="/jms">JMS Synthèse</a>
      </li>
      <li class="nav-item" [class.active]="this.router.url.startsWith('/admin')" ngbDropdown>
        <a ngbDropdownToggle class="nav-link dropdown-toggle" [class.disabled]="this.admin.disabled" routerLink="/admin">Admin</a>
        <div class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/admin/batch">batch</a></li>
        </div>
      </li>
    </ul>
    <select class="custom-select">
  <option selected>Intégration</option>
  <option value="2">Validation</option>
</select>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<footer class="footer container-fluid">
  <div>
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
